@import './Index.scss';


.navbar {
    background-color: $header-color;
    border-bottom: $border;

    img {
        border: $border;
    };

    .btn {
        background: $background-color;
    }
}

